<!-- Bottom Nav -->
 <footer>
      <nav class="navbar bottom navbar-dark" style="background-color:grey;">
        <p id="bottomNav">&copy; Copyright 2020. All Rights Reserved.</p>
      </nav>
    </footer>