<!-- Bottom Nav -->
 <footer style="background-color:tansparent;text-align: center;padding: 20px; fixed-bottom">
  <p id="bottomNav" style="margin: 0px">&copy; WinningThrill 2020. All Rights Reserved.</p>
</footer>