/* Custom CSS goes here */

#indexBody{
    background-image: url("/Assets/images/bb1.jpg");
    color: white;
}

#matchBody
{
    background-image: url("/Assets/images/bb3.jpg");
}
#matchHeading
{
    color: white;
}

#bottomNav{
        color: white;
}

#matchTable
{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    
}

#activeTable
{
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    width: 50%;       
    height: 70px;
}

#activeHeading
{
    color: white;
    text-align: center;
}
#heading
{
    color: white;
    text-align: center;
}

#editBtn, #delBtn
{
    height:60px;
    width:60px;
}
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
  }
  .blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color:yellow;    }
    49%{    color: greenyellow; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: white;    }

}

.blinkingMatch{
    animation:blinkingText 1.2s infinite;
    font-size: x-large;
    
}
@keyframes blinkingText{
    0%{     color:red;    }
    49%{    color: red; }
    60%{    color: white; }
    99%{    color:transparent;  }
    100%{   color: white;    }
}

/*Brackets Page*/
#bracketsPage, #bracketsBody, .brackets {
    width: 100%;
    min-height: 100%;
    font-family: "Arial", sans-serif;
background-color: black;
color: white;


}
.metroBtn {
    background-color: #2E7BCC;
    color: #fff;
    font-size: 1.1em;
    padding: 10px;
    display: inline-block;
    margin-bottom: 30px;
    cursor: pointer;
    position: absolute;
    border-radius: 8px;
    text-align: center;
    
}
.brackets > div {
    vertical-align: top;
    clear: both;
}
.brackets > div > div {
    float: left;
    height: 100%;
}
.brackets > div > div > div {
    margin: 50px 0;
}
.brackets div.bracketbox {
    position: relative;
    width: 100%; height: 100%;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.brackets div.bracketbox > span.info {
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 0.8em;
    color: #BBB;
}
.brackets div.bracketbox > span {
    position: absolute;
    left: 5px;
    font-size: 0.85em;
}
.brackets div.bracketbox > span.teama {
    top: -20px;
}
.brackets div.bracketbox > span.teamb {
    bottom: -20px;
}
.brackets div.bracketbox > span.teamc {
    bottom: 1px;
}
.brackets > .group2 {
    height: 260px;
}
.brackets > .group2 > div {
    width: 49%;
}
.brackets > .group3 {
    height: 320px;
}
.brackets > .group3 > div {
    width: 32.7%;
}
.brackets > .group4 > div {
    width: 24.5%;
}
.brackets > .group5 > div {
    width: 19.6%;
}
.brackets > .group6 {
    height: 2000px;
}
.brackets > .group6 > div {
    width: 16.3%;
}
.brackets > div > .r1 > div {
    height: 60px;
}
.brackets > div > .r2 > div {
    margin: 80px 0 110px 0;
    height: 110px;
}
.brackets > div > .r3 > div {
    margin: 135px 0 220px 0;
    height: 220px;
}
.brackets > div > .r4 > div {
    margin: 250px 0 445px 0;
    height: 445px;
}
.brackets > div > .r5 > div {
    margin: 460px 0 0 0;
    height: 900px;
}
.brackets > div > .r6 > div {
    margin: 900px 0 0 0;
}
.brackets div.final > div.bracketbox {
    border-top: 0px;
    border-right: 0px;
    height: 0px;
}
.brackets > div > .r4 > div.drop {
    height: 180px;
    margin-bottom: 0px;
}
.brackets > div > .r5 > div.final.drop {
    margin-top: 345px;
    margin-bottom: 0px;
    height: 1px;
}
.brackets > div > div > div:last-of-type {
    margin-bottom: 0px;
}
#brHead
{
    text-shadow: 2px 2px 5px red;
    text-align: center;
}
